<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <h1 class="sign-in-button"><%= link_to "Sign In", omniauth_authorize_path(resource_name, provider) %></h1>
  <% end -%>
<% end -%>
