<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="1021109154746-qohoshkse31krsrq9r2mubocab7f54v1.apps.googleusercontent.com">

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<script>
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    var email = profile.getEmail();
    var domain = "@nuscomputing.com";
    if (email.indexOf(domain) < 0) {
      signOut();    
    } else {
      window.location = "http://localhost:3000/dashboard/";
    }
  }

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('You are signed out.');
    });
  }
</script>
