@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

body {
  background: url("https://s-media-cache-ak0.pinimg.com/564x/f2/01/4c/f2014caae9676d0b5dc365e36f450e3d.jpg");
  background-repeat: repeat;
  font-family: "Shadows Into Light Two", cursive;
  font-size: 20px;
}

.container-page {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 32px;
}

.container-welcome {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 32px;
  text-align: center;
}

.sign-in-button {
  ;
}

a {
  color: purple;
}

a:focus {
  outline: none;
}

a:hover {
  background-color: rgba(204, 255, 255, 0.25);
  border: 4px groove powderblue;
  color: midnightblue;
  padding: 4px;
  text-decoration: none;
}

footer {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 32px;
}
